<header class="flex items-center justify-between h-[80px] md:h-[100px] 2xl:max-w-7xl mx-6 xl:max-w-6xl lg:mx-auto relative">
    <div class="header_left-block md:flex md:items-center md:gap-2 hidden">
        <div (click)="goToHotels()"
            class="hidden md:flex items-center justify-center px-[15px] py-[5px] lg:px-[20px] lg:py-[10px]  rounded-[100px] bg-black border border-white text-white  cursor-pointer text-[19.3px] leading-[23.16px]">
            Hotels</div>
        <div (click)="goToRestaurant()"
            class="hidden md:flex items-center justify-center px-[15px] py-[5px] lg:px-[20px] lg:py-[10px] rounded-[100px] text-black bg-[#FFF455] cursor-pointer text-[19.3px] leading-[23.16px] font-[400]">
            Restaurant</div>
    </div>
    <div class="header_logo h-[38px] w-[195.66px] object-cover">
        <img src="logo-2.svg" alt="logo">
    </div>
    <div class="header_right-block">
        <div class="header_left-block flex items-center gap-2">
            <div  (click)="goToNocturne()"
                class="hidden md:flex items-center justify-center px-[15px] py-[5px] lg:px-[20px] lg:py-[10px] rounded-[100px] border border-white bg-black cursor-pointer text-white">
                Sorties noctures</div>
            <div (click)="openMenu()"
                class="h-[45px] w-[45px] rounded-full bg-black flex items-center justify-center cursor-pointer border border-white">
                <img class="w-[23px] h-[23px]" src="menu-2.svg" alt="menu burger">
            </div>
        </div>
    </div>
</header>