<header class="w-full flex items-center justify-between h-[100px] px-[45px]">
    <div class="header_left-block flex items-center gap-2">
        <div
            class="flex items-center justify-center px-[20px] py-[10px] rounded-[100px] bg-black border border-white text-white  cursor-pointer text-[19.3px] leading-[23.16px]">
            explore the city</div>
        <div
            class="flex items-center justify-center px-[20px] py-[10px] rounded-[100px] text-black bg-[#FFF455] cursor-pointer text-[19.3px] leading-[23.16px] font-[400]">
            Discover our events</div>
    </div>
    <div class="header_logo h-[38px] w-[195.66px] object-cover">
        <img src="logo-2.svg" alt="logo">
    </div>
    <div class="header_right-block">

        <div class="header_left-block flex items-center gap-2">
            <div (click)="goToHotels()"
                class="flex items-center justify-center px-[20px] py-[10px] rounded-[100px] border border-white bg-black cursor-pointer text-white">
                Book your hotel</div>
            <div (click)="openMenu()"
                class="h-[45px] w-[45px] rounded-full bg-black flex items-center justify-center cursor-pointer border border-whiteo">
                <img class="w-[23px] h-[23px]" src="menu-2.svg" alt="menu burger">
            </div>
        </div>
    </div>
</header>