<div class="super-container w-screen min-h-[1200px] bg-black">
    <!-- header start -->
    <header class="w-full flex items-center justify-between h-[100px] px-[45px]">
        <div class="header_left-block flex items-center gap-2">
            <div
                class="flex items-center justify-center px-[20px] py-[10px] rounded-[100px] bg-black border border-white text-white  cursor-pointer text-[19.3px] leading-[23.16px]">
                explore the city</div>
            <div
                class="flex items-center justify-center px-[20px] py-[10px] rounded-[100px] text-black bg-[#FFF455] cursor-pointer text-[19.3px] leading-[23.16px] font-[400]">
                Discover our events</div>
        </div>
        <div class="header_logo h-[38px] w-[195.66px] object-cover">
            <img src="logo-2.svg" alt="logo">
        </div>
        <div class="header_right-block">

            <div class="header_left-block flex items-center gap-2">
                <div
                    class="flex items-center justify-center px-[20px] py-[10px] rounded-[100px] border border-white bg-black cursor-pointer text-white">
                    Book your hotel</div>
                <div
                    class="h-[45px] w-[45px] rounded-full bg-black flex items-center justify-center cursor-pointer border border-whiteo">
                    <img class="w-[23px] h-[23px]" src="menu-2.svg" alt="menu burger">
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- section hero start -->
    <section class="hero grid grid-cols-3 mb-[200px]">
        <div class="col-span-2 relative h-[130px]">
            <div class="line-tree absolute -bottom-[1px] h-[1px] w-full bg-[#A8A8A8]"></div>
            <!-- arret start -->
            <span class="absolute arret-1 -right-[2px] top-0 w-[3px] h-[3px] bg-[#A8A8A8] rounded-full"></span>
            <span class="absolute arret-2 -right-[2px] -bottom-[2px] w-[3px] h-[3px] bg-[#A8A8A8] rounded-full"></span>
            <!-- arret end -->

            <!-- start text zone -->
            <section class="flex flex-col items-end justify-end h-full pb-2 pl-[45px]">
                <h1 class="text-top flex items-center w-full overflow-hidden min-h-[55px] text-white">
                    <div class="first font-[700] text-[45px] whitespace-nowrap leading-[32.81px]">
                        @for (item of douala; track $index) {
                        <span class="chart inline-block">{{item}}</span>
                        }
                    </div>
                    <div class="second mx-2 start">
                        <img class="h-[35px] w-[35px] object-contain" src="Star 1 (1).svg" alt="start">
                    </div>
                    <div
                        class="third font-[700] text-[45px] whitespace-nowrap leading-[45.81px] flex items-center gap-[8px]">
                        <div class="first font-[700] text-[45px] whitespace-nowrap leading-[45.81px]">
                            @for (item of the; track $index) {
                            <span class="chart inline-block">{{item}}</span>
                            }
                        </div>
                        <div class="first font-[700] text-[45px] whitespace-nowrap leading-[45.81px]">
                            @for (item of beating; track $index) {
                            <span class="chart inline-block">{{item}}</span>
                            }
                        </div>
                        <div class="first font-[700] text-[45px] whitespace-nowrap leading-[45.81px]">
                            @for (item of heart; track $index) {
                            <span class="chart inline-block">{{item}}</span>
                            }
                        </div>
                        <div class="first font-[700] text-[45px] whitespace-nowrap leading-[45.81px]">
                            @for (item of of; track $index) {
                            <span class="chart inline-block">{{item}}</span>
                            }
                        </div>
                        <span class="text-[#A8A8A8] font-[300] mx-2">
                            @for (item of cameroon; track $index) {
                            <span class="chart inline-block">{{item}}</span>
                            }
                        </span>
                    </div>
                </h1>

                <h5
                    class="self-start w-full text-bottom font-[400] text-[20px] leading-[37.2px] text-[#A8A8A8] flex items-center gap-[8px] overflow-hidden h-[30px]">
                    <div>
                        @for (item of discover; track $index) {
                        <span class="chart inline-block">{{item}}</span>
                        }
                    </div>
                    <div>
                        @for (item of our; track $index) {
                        <span class="chart inline-block">{{item}}</span>
                        }
                    </div>
                    <div>
                        @for (item of cultural; track $index) {
                        <span class="chart inline-block">{{item}}</span>
                        }
                    </div>
                    <div>
                        @for (item of and; track $index) {
                        <span class="chart inline-block">{{item}}</span>
                        }
                    </div>
                    <div>
                        @for (item of natural; track $index) {
                        <span class="chart inline-block">{{item}}</span>
                        }
                    </div>
                    <div>
                        @for (item of riches; track $index) {
                        <span class="chart inline-block">{{item}}</span>
                        }
                    </div>
                </h5>
            </section>
            <!-- end text zone -->
        </div>
        <div class="row-span-3 pr-[45px] pl-[10px] pt-[5px] relative">
            <div class="line-one absolute left-0 h-full w-[1.5px] bg-[#A8A8A8] top-0"></div>
            <img class="photograph" src="Rectangle 3.svg" alt="photograph">
        </div>
        <div class="row-span-2 relative pl-[45px] pt-[10px] pr-[10px]">
            <div class="line-two absolute -right-[1px] h-full w-[1.5px] bg-[#A8A8A8] top-0"></div>
            <img class="photograph" src="Rectangle 1.svg" alt="photograph">
            <span class="arret-3 absolute -right-[2px] -top-[1px] w-[3px] h-[3px] bg-[#A8A8A8] rounded-full"></span>
        </div>
        <div class="row-span-2 p-[10px]">
            <video class="photograph rounded-md" loop muted autoplay src="demo.mp4"></video>
            <div class="flex items-center justify-center">
                <div class="relative translate-y-12">
                    <img class="rotate h-[154.7px] w-[154.7px]" src="Group 4.svg" alt="">
                    <img class="arrow-b absolute -bottom-10 left-1/2 z-10 -translate-x-1/2 translate-y-0"
                        src="63143e4e25b46db174b66d70_NewDownArrow 1.svg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- section hero end -->

    <!-- section about start -->
    <div class="w-full  flex items-center justify-center px-[45px]">
        <section class="about bg-[#101010] mt-[25px] rounded-[10px] w-full py-12 px-8 ">
            <div class="flex items-center gap-4 w-full justify-between">
                <div class="self-start text-white w-1/2">
                    <h1 class="font-[700] text-[50px] leading-[60px] mb-6">À propos de <span>Douala</span></h1>
                    <h4 class="font-[500] text-[31px] leading-[37.2px] mb-4">Histoire de la ville</h4>
                    <p class="font-[500] text-[20px] leading-[37.2px] text-[#8B8B8B] mb-4">Autrefois, des étrangers
                        (parmi
                        lesquels les Allemands), s'installaient sur les côtes du Kamerun
                        pour y exercer du commerce. C'étaient en majeure partie les Duala qui assuraient la médiation
                        entre ces derniers, et ceux de l'intérieur du pays. Les matières premières y étaient troquées,
                        puis vendues contre des produits européens manufacturés.
                    </p>
                    <p class="font-[500] text-[20px] leading-[37.2px] text-[#8B8B8B]">De ce commerce, naissaient des
                        disputes entre les clans Bell, Akwa et Deïdo. Appelés en
                        médiateurs, les anglais n'ont pas répondu.</p>
                    <div
                        class="flex items-center w-[187px] mt-8 gap-4 px-[20px] py-[10px] rounded-[100px] text-black bg-[#FFF455] cursor-pointer text-[19.3px] leading-[23.16px] font-[400]">
                        <div class="whitespace-nowrap">En sovoir plus</div>
                        <div><img src="arrow-right.svg" alt="arrow right"></div>
                    </div>
                </div>
                <div class="relative">
                    <!-- arrets  -->
                    <img class="absolute -top-4 -left-4" src="top-left.svg" alt="">
                    <img class="absolute -top-4 -right-4" src="top-right.svg" alt="">
                    <img class="absolute -bottom-4 -left-4" src="bottom-left.svg" alt="">
                    <img class="absolute -bottom-4 -right-4" src="bottom-right.svg" alt="">
                    <!-- arrets  -->
                    <img class="h-[600px]  object-cover" src="Rectangle 5.svg" alt="">
                </div>
            </div>
        </section>
    </div>
    <!-- section about end -->


    <section class="w-full h-[800px]"></section>
</div>