<footer class="h-auto md:h-[500px] pb-2 md:pb-0 bg-white mt-[100px ] lg:mt-[200px] w-full relative">

    <!-- line animations  -->
     <div class="absolute top-0 w-full footer-lines z-10">
        <img class="w-full" src="footer-lines.svg" alt="line">
     </div>
    <!--  -->

    <div class="footer-container w-full h-auto md:h-full 2xl:max-w-7xl mx-4 xl:max-w-6xl md:mx-auto">
        <div class="h-[90%] w-full grid grid-cols-1 md:grid-cols-4 md:grid-rows-1">
            <div class="h-full pt-16 relative">
                <div class="absolute bottom-20 left-1/2 w-[100px] h-[100px] rounded-full bg-yellow-300 cursor-pointer p-4" (click)="goUp()">
                    <img class="arrow-up" src="arrow-up.svg" alt="arrow up">
                </div>
                <img class="h-[40px] ml-4 md:ml-0" src="Group 22.svg" alt="logo">
            </div>
            <div class="pl-8 pb-4 md:pb-0">
                <h4 class="font-[700] text-[31px] leading-[37.2px] text-black mt-20 mb-8 md:text-[21px] md:leading-[27.2px]">Nos rubriques</h4>
                <ul class="flex items-start gap-4 flex-col">
                    <li class="cursor-pointer" (click)="navigate('')">Home</li>
                    <li class="cursor-pointer" (click)="navigate('restaurants')">Restaurants</li>
                    <li class="cursor-pointer" (click)="navigate('nocturnes')">Sortie nocturne</li>
                    <li class="cursor-pointer" (click)="navigate('hotels')">Hotels</li>
                </ul>
            </div>
            <div class="hidden md:block">
                <ul class="flex items-start gap-4 flex-col  mt-36">
                    <li class="cursor-pointer" (click)="navigate('')">Quartiers</li>
                </ul>
            </div>
            <div class="hidden md:block">
                <h4 class="font-[700] text-[31px] leading-[37.2px] text-black mt-20 mb-8 md:text-[21px] md:leading-[27.2px]">Newsletter</h4>
                <div class="flex items-center rounded-[100px] bg-[#D9D9D9] border pl-4 overflow-hidden relative">
                    <div class="w-[10%]"><img src="email.svg" alt="icon email"></div>
                    <div class="w-[90%]">
                        <input class="w-full h-[50px] bg-transparent outline-none font-[700]" type="text"
                        placeholder="Votre email">
                    </div>
                    <div class="absolute cursor-pointer right-[2px] top-[2px] px-12 font-[700] h-[90%] w-[75px] flex items-center justify-center bg-white rounded-[100px]">
                        <span>Suscribe</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 text-[14px] justify-between md:flex items-center md:justify-between h-[10%] border-t border-slate-950">
            <div>© 2024 A Douala brand city</div>
            <div>Private police</div>
            <div>Douala brand city</div>
            <div>doualacity&#64;gmail.com</div>
        </div>
    </div>
</footer>