<div class="super-container">
    <!-- menu start -->
    <app-menu></app-menu>
    <!-- menu start -->

    <!-- start nav bar -->
    <app-nav-bar></app-nav-bar>
    <!-- end nav bar -->

    <!-- start hero -->
    <section class="mt-[20px] h-[600px] 2xl:max-w-7xl xl:max-w-6xl mx-6 lg:mx-auto">
        <div class="w-full h-full relative overflow-hidden">
            <div class="round-1 absolute h-[250px] w-[400px] bottom-0 left-0 rounded-br-[30px]">
                <div class="w-full h-full bg-black relative rounded-tr-[30px] pt-12">
                    <div class="w-full h-full">
                        <p class="text-[40px] leading-[50px] font-[700] text-white w-[730px] whitespace-nowrap relative mb-4">
                            Top Restaurants
                            <img class="absolute -right-12 -top-10" src="start-2.svg" alt=""> 
                        </p>
                        <p class="text-[#8B8B8B] text-[20px] max-w-full pr-2">
                            Découvrez les meilleurs restaurants à Douala, Pour tout les goût et budgets.
                        </p>
                    </div>
                    <div
                        class="arc-1 w-[20px] h-[20px] rounded-full bg-transparent absolute -top-[20px] left-[0px] shadow-boxShadowBottom">
                    </div>
                    <div
                        class="arc-1 w-[20px] h-[20px] rounded-full bg-transparent absolute bottom-0 -right-[20px] shadow-boxShadowBottom">
                    </div>
                </div>
            </div>
            <img class="w-full h-full rounded-tr-[30px] rounded-bl-[10px] rounded-br-[10px]"
                src="44b63dde-78d1-44a5-b971-5970a18887b9_Entrance_Resorts_World_Las_Vegas.webp" alt="">
        </div>
    </section>
    <!-- end hero -->

    <!--  -->
    <div class="2xl:max-w-7xl mx-6 lg:mx-auto xl:max-w-6xl mt-[100px]">
        <h1 class="font-[700] text-[50px] leading-[60px] text-white mb-[60px] relative overflow-hidden">
            Trouvez Votre prochaine expérience culinaire
        </h1>
    </div>
    <!--  -->

    <!--  -->
    <div class="2xl:max-w-7xl mx-6 lg:mx-auto mt-[100px] xl:max-w-6xl">
        <img class="w-full h-full" src="Rectangle 12.svg" alt="">
    </div>
    <!--  -->


    <section class="pb-8 mt-[100px] py-4 2xl:max-w-7xl mx-6 lg:mx-auto xl:max-w-6xl">
        <div class="w-full h-full  grid grid-cols-3 grid-rows-1 gap-8 md:gap-4">
            @for (item of listHotels; track $index) {
            @defer () {
                <app-block-resto [item]="item" />
            }
            }
        </div>
    </section>

    <div class="labels-section my-[100px] 2xl:max-w-7xl mx-6 lg:mx-auto relative overflow-hidden xl:max-w-6xl flex items-center justify-center">
        <div class="h-[53px] rounded-[100px] py-[15px] px-[20px text-white border border-white] w-[122px] flex items-center justify-center cursor-pointer">
            See More
        </div>
    </div>

    <!-- start footer -->
    <app-footer></app-footer>
    <!-- end footer -->
</div>