<div class="super-container">
    <!-- menu start -->
    <app-menu></app-menu>
    <!-- menu start -->

    <!-- start nav bar -->
    <app-nav-bar></app-nav-bar>
    <!-- end nav bar -->

    <!-- start hero -->
    <section class="mt-[100px] h-[150px] w-full px-[45px]">
        <div class="w-full h-full">
            <p class="text-[50px] leading-[60px] font-[700] text-white w-[730px] whitespace-nowrap relative">
                Trouvez un logement confortable
                <img class="absolute -right-12 -top-10" src="start-2.svg" alt=""> 
            </p>
            <p class="text-[#8B8B8B] text-[20px] max-w-[70%]">
                Découvrez notre liste des meilleurs hôtels à Douala, y compris des établissements de luxe en bord de
                mer, des chambres d'hôtes et des hôtels spa pour un séjour
            </p>
        </div>
    </section>
    <!-- end hero -->

    <!-- start hero -->
    <section class="mt-[20px] h-[600px] w-full px-[45px]">
        <div class="w-full h-full relative overflow-hidden">
            <div class="round-1 absolute h-[150px] w-[400px] top-0 left-0 rounded-br-[30px]">
                <div class="w-full h-full bg-black relative rounded-br-[30px]">
                    <div class="arc-1 w-[20px] h-[20px] rounded-full bg-transparent absolute top-0 -right-[20px] shadow-shadow-custom"></div>
                    <div class="arc-1 w-[20px] h-[20px] rounded-full bg-transparent absolute -bottom-[20px] left-0 shadow-shadow-custom"></div>
                </div>
            </div>
            <img class="w-full h-full rounded-tr-[30px] rounded-bl-[10px] rounded-br-[10px]" src="44b63dde-78d1-44a5-b971-5970a18887b9_Entrance_Resorts_World_Las_Vegas.webp" alt="">
        </div>
    </section>
    <!-- end hero -->

    <section class="mt-[50px] h-[800px] w-full px-[45px]">
        <div class="w-full h-full border">
            
        </div>
    </section>
    <section class="mt-[50px] h-[800px] w-full px-[45px]">
        <div class="w-full h-full border">
            
        </div>
    </section>
    <!-- start footer -->
    <app-footer></app-footer>
    <!-- end footer -->
</div>